@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Poppins&family=Ribeye&display=swap');
:root {
	--heading-font: 'Ribeye', cursive;
	--body-font: 'Poppins', sans-serif;
	--meta-font: 'Grandiflora One', serif;
	--border-radius: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	height: 100vh;
}

li {
	list-style: none;
	font-size: 2rem;
}
a {
	all: unset;
	cursor: pointer;
	text-decoration: none;
	font-family: var(--meta-font);
}

@media (prefers-color-scheme: dark) {
	body {
		background: #41295a; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to bottom,
			#2f0743,
			#41295a
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to bottom,
			#0e0313,
			#42265f
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		color: #fff;
	}
}
