@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Poppins&family=Ribeye&display=swap');
:root {
	--heading-font: 'Ribeye', cursive;
	--body-font: 'Poppins', sans-serif;
	--meta-font: 'Grandiflora One', serif;
	--border-radius: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

li {
	list-style: none;
	font-size: 2rem;
}
a {
	all: unset;
	cursor: pointer;
	text-decoration: none;
	font-family: var(--meta-font);
}

.nav-bar {
	display: flex;
	justify-content: center;
}

/* Global button style */
.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #183153;
	font-family: var(--meta-font);
	font-weight: 600;
	box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	border: none;
	width: 100px;
	padding: 10px;
}

.btn:after {
	content: ' ';
	width: 0%;
	height: 100%;
	background: #ffd401;
	position: absolute;
	transition: all 0.4s ease-in-out;
	right: 0;
}

.btn:hover::after {
	right: auto;
	left: 0;
	width: 100%;
}

.btn span {
	text-align: center;
	text-decoration: none;
	width: 100%;
	padding: 18px 25px;
	color: #fff;
	font-size: 1.125em;
	font-weight: 700;
	letter-spacing: 0.3em;
	z-index: 20;
	transition: all 0.3s ease-in-out;
}

.btn:hover span {
	color: #183153;
	animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #41295a; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to bottom,
			#2f0743,
			#41295a
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to bottom,
			#0e0313,
			#42265f
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		color: #fff;
	}
}

@media (max-width: 800px) {
	.nav-bar {
		justify-content: space-between;
	}
}
