---
import RootLayout from '../layouts/RootLayout.astro';

export const getStaticPaths = async () => {
	const posts = await Astro.glob('../posts/*.md');

	return posts.map((post) => ({
		params: {
			slug: post.frontmatter.slug,
		},
		props: {
			post,
		},
	}));
};

const { Content, frontmatter } = Astro.props.post;
---

<RootLayout title={frontmatter.title}>
	<section class="blog-container">
		<a href="/" class="btn"> <i class="fa-solid fa-arrow-left"> BACK</i></a>

		<h1>
			{frontmatter.title}
		</h1>
		<div class="written-by">
			Written by <strong> {frontmatter.author}</strong> on {
				new Date(frontmatter.date).toLocaleDateString()
			}
		</div>
		<Content />
	</section>
</RootLayout>

<style>
	.blog-container {
		width: 60%;
		margin: auto;
	}

	h1 {
		font-family: var(--heading-font);
		padding: 1rem;
		margin: 1rem;
		text-align: center;
		font-size: 2rem;
	}

	i {
		font-size: 1rem;
	}
	.written-by {
		font-size: 1.5rem;
		/* color: red; */
		text-align: center;
		padding: 1rem;
		text-decoration: underline;
	}

	@media (max-width: 600px) {
		.blog-container {
			width: 80%;
		}
	}
</style>
