---
import Search from '../components/Search.astro';
import RootLayout from '../layouts/RootLayout.astro';

const posts = await Astro.glob('../posts/*.md');
---

<RootLayout title="Home">
	<Search />
	{
		posts.map((post) => (
			<div class="card">
				<h1>{post.frontmatter.title}</h1>
				<p>{post.frontmatter.excerpt}</p>
				<a href={`/${post.frontmatter.slug}`} class="btn">
					READ MORE
				</a>
			</div>
		))
	}
</RootLayout>

<style>
	.card {
		width: 80%;
		margin: 1rem auto;
		padding: 1rem;
		/* border: 2px solid #333; */
		border-radius: 10px;
		box-shadow: 0px 0px 6px #ccc;
		overflow-wrap: break-word;
	}

	.card h1 {
		font-family: var(--heading-font);
		padding: 10px;
	}
	.card p {
		font-family: var(--body-font);
		padding: 10px;
	}
</style>
