---
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout title="Home">
	<h1>
		asdsdsadasd asdsdsadasd asdsdsadasd asdsdsadasd asdsdsadasd asdsdsadasd
		asdsdsadasd
	</h1>
</RootLayout>

<style>
	h1 {
		font-family: var(--text-font);
	}
</style>
