---
const links = ['home', 'about'];
---

<nav>
	<ul class="navbar">
		{
			links.map((link) => (
				<li>
					{link === 'home' ? (
						<a href="/">{link}</a>
					) : (
						<a href={`/${link}`}>{link}</a>
					)}
				</li>
			))
		}
	</ul>
</nav>

<style>
	.navbar {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-top: 1rem;
		padding: 1rem;
	}
	li {
		font-size: 2rem;
		list-style: none;
	}

	@media (max-width: 800px) {
		.navbar {
			display: none;
		}
	}
</style>

<script>
	const link = document.querySelectorAll('a');
	link.forEach((link) =>
		addEventListener('click', () => link.classList.add('active'))
	);
</script>
